# Ignore object files
*.o
*.obj

# Ignore build directories
/build/
/bin/
/obj/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore CMake build directory
competitive_programming/cmake-build-debug/

# Ignore CMake API files
.cmake/

# Ignore IDE-specific files
competitive_programming/.idea/